body {
  background: url('./images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  height: 100vh; /* Высота 100% от окна браузера */
  margin: 0;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="password"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 20px 0;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  background: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #0056b3;
}

a {
  color: #007BFF;
  text-decoration: none;
  font-size: 0.9em;
}

a:hover {
  text-decoration: underline;
}