.register-container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"], input[type="password"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}